footer{
    width: 100%;
    background-color: var(--bg-color);
}

.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.InputFirst{
    background-color: var(--bg-color);
    color: var(--color-3);
    border: solid;
    border-color: var(--color-3);
    border-width: 1px;
    padding: 1.500vh 3.646vw 1.500vh 0.781vw;
}

.Send{
    border: none;
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 0.500vh 0.260vw;
    font-size: 1.5rem;
    padding: 1vh 0.521vw;
    text-align: center;
    cursor: pointer;

    transition:
    background-color 250ms ease-in-out, color 250ms ease-in-out;
    &:hover{
        color: var(--color-1);
        background-color: var(--color-2);
    }
}

.Data{
    display: flex;
    flex-direction: column;
    color: var(--color-1);
    font-size: 1rem;
    gap: 1vh;
}

.LineEnd{
    width: 100%;
    height: 0.1vh;
    background-color: var(--color-3);
}

.Copyright{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--color-3);
    text-align: center;
}

.MenuEnd{
    display: flex;
    align-items: center;
}

.FormList{
    display: flex;
    justify-content: center;
    gap: 1.042vw;
    margin-top: 5vh;
}

.InputSecond {
    background-color: var(--bg-color);
    color: var(--color-3);
    border: solid;
    border-color: var(--color-3);
    border-width: 0.052vw;
    padding: 1.500vh 12.240vw 7.000vh 0.781vw;
}

.FormListSecond {
    display: flex;
    gap: 2.604vw;
    justify-content: center;
    margin-top: 2vh;
}

.IconsList{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.Icon{
    border: solid;
    border-width: 0.052vw;
    border-color: var(--color-3);
    padding: 0.300vh 0.156vw;
    cursor: pointer;
    transition: filter 250ms ease-in-out;
        &:hover {
            filter: invert(100%);
        }
}

.AfterForm{
    margin-top: 2vh;
    display: flex;
    text-align: center;
    gap: 4.948vw;
}

.SecondRowAfterForm{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.042vw;
}

.Rows{
    display: flex;
    align-items: center;
    gap: 0.521vw;
}

.End{
    display: flex;
    gap: 7.813vw;
    padding: 1vh 0vw 4vh 0vw;
}

