header {
  width: 100%;
  background-image: linear-gradient(
      180deg,
      rgba(20, 20, 20, 0.8) 78.8%,
      #141414 100%
    ),
    url("/assets/images/first_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.Navigation {
  padding: 5.000vh 2.604vw;
  justify-content: space-around;
  display: flex;
}

.Menu {
  display: flex;
}

.MenuItem {
  margin-right: 2.083vw;
  color: var(--color-1);
  font-family: "Reforma Grotesk Medium";
  font-size: 1.5rem;
}

button {
  letter-spacing: 0.104vw;
  border-radius: 0.500vh 0.260vw;
  cursor: pointer;
}

.Hover {
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  &:hover{
    color: var(--color-2);
    background-color: var(--color-1);
  }
}

.TriPoloski {
  padding: 0.500vh 0.260vw;
  width: 2.604vw;
  height: 2.500vh;
  border-radius: 0.500vh 0.260vw;
  cursor: pointer;
  .Top,
  .Center,
  .Bottom {
    background-color: var(--color-2);
  }
  &:hover {
    .Top,
    .Bottom {
      transform: translateX(-0.521vw);
      background-color: var(--color-1);
    }
  }
  &:hover{
    background-color: var(--color-2);
  }
  &:hover{
    .Center{
      transform: translateX(0.521vw);
      background-color: var(--color-1);
    }
  }
}

.Top {
  background-color: var(--color-2);
  height: 0.300vh;
  width: 2.083vw;
  margin-bottom: 0.800vh;
  margin-left: 0.521vw;
  border-radius: 0.500vh 0.260vw;

  transition: background-color 250ms ease-in-out, transform 250ms linear;
}

.Center {
  background-color: var(--color-2);
  height: 0.300vh;
  width: 2.083vw;
  margin-bottom: 0.800vh;
  border-radius: 0.500vh 0.260vw;

  transition: background-color 250ms ease-in-out, transform 250ms linear;
}

.Bottom {
  background-color: var(--color-2);
  height: 0.300vh;
  width: 2.083vw;
  margin-bottom: 0.800vh;
  margin-left: 0.521vw;
  border-radius: 0.500vh 0.260vw;

  transition: background-color 250ms ease-in-out, transform 250ms linear;
}

.MainText {
  margin-top: 26.000vh;
  animation: Rotate 6s ease-in-out 0s infinite normal;
  transform-origin: center;
  font-family: "Reforma Grotesk Bold";
  font-size: 9.375rem;
  text-align: center;
  color: var(--color-2);
  display: inline-block;
}

.TextBlock {
  display: flex;
  justify-content: center;
}

@keyframes Rotate {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg), scaleX(-1);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(180deg), scaleX(-1);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.SquareLine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.833vw;
}

.Square {
  height: 10px;
  width: 10px;
  background-color: var(--color-2);
  transform: rotate(45deg);
  margin-right: 1.246vw;
}

.AfterMainText {
  color: var(--color-1);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 4.093vh;
}

.Uslugi {
  padding: 1.000vh 0.521vw;
  font-size: 1.5rem;
  text-align: center;
  color: var(--color-2);
  background-color: var(--color-1);
  border-radius: 0.500vh 0.260vw;
  cursor: pointer;
  
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  &:hover{
    background-color: var(--color-2);
    color: var(--color-1);
  }
}

.Contacts{
  white-space: nowrap;
  margin-top: 3vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: solid;
  border-width: 0.052vw;
  border-color: var(--color-3);
  width: 100%;
}

.ContactsBlock{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // padding: 2vh 12.500vw;
  border: solid;
  border-width: 0.026vw;
  border-color: var(--color-3);
  width: 33.3%;
}

.ContactsBlockText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // padding: 2vh 11.979vw;
  border: solid;
  border-width: 0.026vw;
  border-color: var(--color-3);
  width: 33.3%;
}

.ThirdColumn{
  margin-top: 2vh;
}

.White{
  color: var(--color-1);
  font-size: 1.125rem;
}

.Red{
  color: var(--color-2);
  font-size: 1.25rem;
}

