.Adaptive{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width:1200px) {
    .Adaptive {
        width: 1200px;
    }
}

@media (max-width:1000px){
    .Adaptive{
        width: 1000px;
    }
}

@media (max-width:768px) {
    .Adaptive {
        width: 768px;
    }
}

@media (max-width:480px) {
    .Adaptive {
        width: 480px;
    }
}
